.alerta {
    padding: 0.5rem;
    &.error {
        color: $rojo;
    }

    &.exito {
        text-align: center;
        color: $blanco;
        background-color: $verde;
    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead {
        background-color: $verde;
        th {
            color: $blanco;
            padding: 2rem;
        }
    }
    .imagen-tabla {
        width: 10rem;
    }
}
.img-small{
    width: 20rem;
}